html {font-weight: 900;
  scroll-behavior: smooth;
}
body {
  color: white;
  font-family: "Inter", sans-serif;
  /* background-image: url("images/dark-bg.jpg");
  background-size: 100%; */
  background-repeat: repeat;
  background: radial-gradient(
    circle at 50% 50%,
    
    #080b08,
    #020602,
    #000400
  );
}

.darkmode {
  background-color: white;
  color: black;

  background: radial-gradient(
    circle at 50% 50%,
    #fed8c7,
    #ffd7cb,
    #ffd6ce,
    #ffd6d2,
    #fed6d6,
    #fdd6da,
    #fbd6de,
    #f8d6e1
  );
  background-size: 100%;
  
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.heading {
  font-family: "Times New Roman", Times, serif;
}
div#left
{
  padding-right: 40px;
}
#mode,
img.logo {
  width: 40px;
  
}
a {
  text-decoration: none;
  color: #ff000d91;
  font-weight: bolder;
}
a:hover {
  text-decoration: underline;
}
.name {
  color: #ff0000;
}

.links {
  padding-right: 2.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.5rem;
}
.links:hover {
  font-size: 1.75rem;
  color: #ff000d;
}

.flex-cont {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

}
strong {
  font-size: 2rem;
}
.mepic {
  width: 25rem;
  border-radius: 100%;
  padding: 5rem;
}
.me {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 5%;
  padding-bottom: 5%;
}

.intro {
  font-size: 2rem;
}
.intro-desc {
  font-size: 1.15rem;
}
#skills,
#projects,
#contact {
  text-align: center;

  font-size: 3rem;
  text-decoration: underline;
  margin-bottom: 0;
margin-top: 4rem;
margin-bottom: 1.5rem;
}
.s-icon {
  width: 5rem;
}
.skill,
  .skill-2 {
    display: flex !important;

    align-items: center;
    justify-content: space-evenly !important;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
.s-in {
  font-size: 0;
  text-align: center;
}
.s-in:hover {
  animation-name: hower;
  animation-duration: 1s;
  animation-delay: 50ms;
  animation-fill-mode: forwards;
}
@keyframes hower {
  from {
    background-color: transparent;
    font-size: 0rem;
  }
  to {
    background-color: #fd5c6421;

    font-size: 1rem;
  }
}
.s-in:not(:hover) {
  animation-name: nohower;
  animation-duration: 1s;
  animation-delay: 15ms;
  animation-fill-mode: forwards;
}
@keyframes nohower {
  from {
    background-color: #fd5c6421;

    font-size: 1rem;
  }
  to {
    background-color: transparent;
    font-size: 0rem;
  }
}

.proj-l {
  display: block;

text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  width:80%;
  margin: auto;
  
  
}

.proj-icon {

width: 60%;

  
}
.proj-in {
  text-align: center;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 2rem;
  
  
}
.contacts {
  height: 30px;
  width: 30px;
  padding: 15px;
}
.contactme {
  text-align: center;
}
.message {
  width: 4rem;
}
p > .name {
  font-size: 3rem;
  
}
hr {
  padding: 0;
  margin: 0;
}
.faded {
  animation-name: faded;
  animation-duration: 1.5s;
}

@keyframes faded {
  from {opacity: 0} 
  to {opacity: 1}
}
